html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#utskrift {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    padding: 1em;
    text-align: center;
    background-color: white;
}

h1 {
    font-size: 3em;
}
