html, body { margin: 0; padding: 0; height: 100%; width: 100%; }
body { display: flex; justify-content: center; align-items: center; background-color: #abcdef; }
main { width: 600px; height: 600px; padding: 20px; border: 2px solid black; background-color: white; }
figure { display: flex; justify-content: center; align-items: center; }
button { padding: 10px; }